.styled-table {
    border-collapse: collapse;
    margin: 25px 230px 0 0 ;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}


.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.btnModify{
    background-color:#0a0a23;
    color: #fff;
    border:none;
    border-radius:10px;
    padding: 10px 5px;
}

.btnContact{
    background-color:#0a2316;
    color: #fff;
    border:none;
    border-radius:10px;
    padding: 10px 5px;
    cursor: pointer;
}


.btnDownload{
    background-color:#230a0b;
    color: #fff;
    border:none;
    border-radius:10px;
    padding: 10px 5px;
    cursor: pointer;
}

.isActive{
    background-color:#1b773e;
    color: #fff;
    border:none;
    border-radius:10px;
    padding: 10px 5px;
    translate: 0.5s ease;
    cursor: pointer;
}

.inactive{
    background-color:#ffffff;
    color: #1b773e;
    border:none;
    border-radius:10px;
    padding: 10px 5px;
    cursor: pointer;
}